
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.hp-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.hp-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.hp-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.hp-table,.hp-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.hp-table-all{border:1px solid #ccc}
.hp-bordered tr,.hp-table-all tr{border-bottom:1px solid #ddd}.hp-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.hp-table-all tr:nth-child(odd){background-color:#fff}.hp-table-all tr:nth-child(even){background-color:#f1f1f1}
.hp-hoverable tbody tr:hover,.hp-ul.hp-hoverable li:hover{background-color:#ccc}.hp-centered tr th,.hp-centered tr td{text-align:center}
.hp-table td,.hp-table th,.hp-table-all td,.hp-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.hp-table th:first-child,.hp-table td:first-child,.hp-table-all th:first-child,.hp-table-all td:first-child{padding-left:16px}
.hp-btn,.hp-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.hp-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.hp-btn,.hp-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.hp-disabled,.hp-btn:disabled,.hp-button:disabled{cursor:not-allowed;opacity:0.3}.hp-disabled *,:disabled *{pointer-events:none}
.hp-btn.hp-disabled:hover,.hp-btn:disabled:hover{box-shadow:none}
.hp-badge,.hp-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.hp-badge{border-radius:50%}
.hp-ul{list-style-type:none;padding:0;margin:0}.hp-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.hp-ul li:last-child{border-bottom:none}
.hp-tooltip,.hp-display-container{position:relative}.hp-tooltip .hp-text{display:none}.hp-tooltip:hover .hp-text{display:inline-block}
.hp-ripple:active{opacity:0.5}.hp-ripple{transition:opacity 0s}
.hp-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.hp-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.hp-dropdown-click,.hp-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.hp-dropdown-hover:hover .hp-dropdown-content{display:block}
.hp-dropdown-hover:first-child,.hp-dropdown-click:hover{background-color:#ccc;color:#000}
.hp-dropdown-hover:hover > .hp-button:first-child,.hp-dropdown-click:hover > .hp-button:first-child{background-color:#ccc;color:#000}
.hp-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.hp-check,.hp-radio{width:24px;height:24px;position:relative;top:6px}
.hp-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.hp-bar-block .hp-dropdown-hover,.hp-bar-block .hp-dropdown-click{width:100%}
.hp-bar-block .hp-dropdown-hover .hp-dropdown-content,.hp-bar-block .hp-dropdown-click .hp-dropdown-content{min-width:100%}
.hp-bar-block .hp-dropdown-hover .hp-button,.hp-bar-block .hp-dropdown-click .hp-button{width:100%;text-align:left;padding:8px 16px}
.hp-main,#main{transition:margin-left .4s}
.hp-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.hp-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.hp-bar{width:100%;overflow:hidden}.hp-center .hp-bar{display:inline-block;width:auto}
.hp-bar .hp-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.hp-bar .hp-dropdown-hover,.hp-bar .hp-dropdown-click{position:static;float:left}
.hp-bar .hp-button{white-space:normal}
.hp-bar-block .hp-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.hp-bar-block.hp-center .hp-bar-item{text-align:center}.hp-block{display:block;width:100%}
.hp-responsive{display:block;overflow-x:auto}
.hp-container:after,.hp-container:before,.hp-panel:after,.hp-panel:before,.hp-row:after,.hp-row:before,.hp-row-padding:after,.hp-row-padding:before,
.hp-cell-row:before,.hp-cell-row:after,.hp-clear:after,.hp-clear:before,.hp-bar:before,.hp-bar:after{content:"";display:table;clear:both}
.hp-col,.hp-half,.hp-third,.hp-twothird,.hp-threequarter,.hp-quarter{float:left;width:100%}
.hp-col.s1{width:8.33333%}.hp-col.s2{width:16.66666%}.hp-col.s3{width:24.99999%}.hp-col.s4{width:33.33333%}
.hp-col.s5{width:41.66666%}.hp-col.s6{width:49.99999%}.hp-col.s7{width:58.33333%}.hp-col.s8{width:66.66666%}
.hp-col.s9{width:74.99999%}.hp-col.s10{width:83.33333%}.hp-col.s11{width:91.66666%}.hp-col.s12{width:99.99999%}
@media (min-width:601px){.hp-col.m1{width:8.33333%}.hp-col.m2{width:16.66666%}.hp-col.m3,.hp-quarter{width:24.99999%}.hp-col.m4,.hp-third{width:33.33333%}
.hp-col.m5{width:41.66666%}.hp-col.m6,.hp-half{width:49.99999%}.hp-col.m7{width:58.33333%}.hp-col.m8,.hp-twothird{width:66.66666%}
.hp-col.m9,.hp-threequarter{width:74.99999%}.hp-col.m10{width:83.33333%}.hp-col.m11{width:91.66666%}.hp-col.m12{width:99.99999%}}
@media (min-width:993px){.hp-col.l1{width:8.33333%}.hp-col.l2{width:16.66666%}.hp-col.l3{width:24.99999%}.hp-col.l4{width:33.33333%}
.hp-col.l5{width:41.66666%}.hp-col.l6{width:49.99999%}.hp-col.l7{width:58.33333%}.hp-col.l8{width:66.66666%}
.hp-col.l9{width:74.99999%}.hp-col.l10{width:83.33333%}.hp-col.l11{width:91.66666%}.hp-col.l12{width:99.99999%}}
.hp-rest{overflow:hidden}.hp-stretch{margin-left:-16px;margin-right:-16px}
.hp-content,.hp-auto{margin-left:auto;margin-right:auto}.hp-content{max-width:980px}.hp-auto{max-width:1140px}
.hp-cell-row{display:table;width:100%}.hp-cell{display:table-cell}
.hp-cell-top{vertical-align:top}.hp-cell-middle{vertical-align:middle}.hp-cell-bottom{vertical-align:bottom}
.hp-hide{display:none!important}.hp-show-block,.hp-show{display:block!important}.hp-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.hp-auto{max-width:95%}}
@media (max-width:600px){.hp-modal-content{margin:0 10px;width:auto!important}.hp-modal{padding-top:30px}
.hp-dropdown-hover.hp-mobile .hp-dropdown-content,.hp-dropdown-click.hp-mobile .hp-dropdown-content{position:relative}	
.hp-hide-small{display:none!important}.hp-mobile{display:block;width:100%!important}.hp-bar-item.hp-mobile,.hp-dropdown-hover.hp-mobile,.hp-dropdown-click.hp-mobile{text-align:center}
.hp-dropdown-hover.hp-mobile,.hp-dropdown-hover.hp-mobile .hp-btn,.hp-dropdown-hover.hp-mobile .hp-button,.hp-dropdown-click.hp-mobile,.hp-dropdown-click.hp-mobile .hp-btn,.hp-dropdown-click.hp-mobile .hp-button{width:100%}}
@media (max-width:768px){.hp-modal-content{width:500px}.hp-modal{padding-top:50px}}
@media (min-width:993px){.hp-modal-content{width:900px}.hp-hide-large{display:none!important}.hp-sidebar.hp-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.hp-hide-medium{display:none!important}}
@media (max-width:992px){.hp-sidebar.hp-collapse{display:none}.hp-main{margin-left:0!important;margin-right:0!important}.hp-auto{max-width:100%}}
.hp-top,.hp-bottom{position:fixed;width:100%;z-index:1}.hp-top{top:0}.hp-bottom{bottom:0}
.hp-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.hp-display-topleft{position:absolute;left:0;top:0}.hp-display-topright{position:absolute;right:0;top:0}
.hp-display-bottomleft{position:absolute;left:0;bottom:0}.hp-display-bottomright{position:absolute;right:0;bottom:0}
.hp-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.hp-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.hp-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.hp-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hp-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.hp-display-container:hover .hp-display-hover{display:block}.hp-display-container:hover span.hp-display-hover{display:inline-block}.hp-display-hover{display:none}
.hp-display-position{position:absolute}
.hp-circle{border-radius:50%}
.hp-round-small{border-radius:2px}.hp-round,.hp-round-medium{border-radius:4px}.hp-round-large{border-radius:8px}.hp-round-xlarge{border-radius:16px}.hp-round-xxlarge{border-radius:32px}
.hp-row-padding,.hp-row-padding>.hp-half,.hp-row-padding>.hp-third,.hp-row-padding>.hp-twothird,.hp-row-padding>.hp-threequarter,.hp-row-padding>.hp-quarter,.hp-row-padding>.hp-col{padding:0 8px}
.hp-container,.hp-panel{padding:0.01em 16px}.hp-panel{margin-top:16px;margin-bottom:16px}
.hp-code,.hp-codespan{font-family:Consolas,"courier new";font-size:16px}
.hp-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.hp-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.hp-card,.hp-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.hp-card-4,.hp-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.hp-spin{animation:hp-spin 2s infinite linear}@keyframes hp-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.hp-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.hp-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.hp-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.hp-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.hp-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.hp-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.hp-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.hp-animate-input{transition:width 0.4s ease-in-out}.hp-animate-input:focus{width:100%!important}
.hp-opacity,.hp-hover-opacity:hover{opacity:0.60}.hp-opacity-off,.hp-hover-opacity-off:hover{opacity:1}
.hp-opacity-max{opacity:0.25}.hp-opacity-min{opacity:0.75}
.hp-greyscale-max,.hp-grayscale-max,.hp-hover-greyscale:hover,.hp-hover-grayscale:hover{filter:grayscale(100%)}
.hp-greyscale,.hp-grayscale{filter:grayscale(75%)}.hp-greyscale-min,.hp-grayscale-min{filter:grayscale(50%)}
.hp-sepia{filter:sepia(75%)}.hp-sepia-max,.hp-hover-sepia:hover{filter:sepia(100%)}.hp-sepia-min{filter:sepia(50%)}
.hp-tiny{font-size:10px!important}.hp-small{font-size:12px!important}.hp-medium{font-size:15px!important}.hp-large{font-size:18px!important}
.hp-xlarge{font-size:24px!important}.hp-xxlarge{font-size:36px!important}.hp-xxxlarge{font-size:48px!important}.hp-jumbo{font-size:64px!important}
.hp-left-align{text-align:left!important}.hp-right-align{text-align:right!important}.hp-justify{text-align:justify!important}.hp-center{text-align:center!important}
.hp-border-0{border:0!important}.hp-border{border:1px solid #ccc!important}
.hp-border-top{border-top:1px solid #ccc!important}.hp-border-bottom{border-bottom:1px solid #ccc!important}
.hp-border-left{border-left:1px solid #ccc!important}.hp-border-right{border-right:1px solid #ccc!important}
.hp-topbar{border-top:6px solid #ccc!important}.hp-bottombar{border-bottom:6px solid #ccc!important}
.hp-leftbar{border-left:6px solid #ccc!important}.hp-rightbar{border-right:6px solid #ccc!important}
.hp-section,.hp-code{margin-top:16px!important;margin-bottom:16px!important}
.hp-margin{margin:16px!important}.hp-margin-top{margin-top:16px!important}.hp-margin-bottom{margin-bottom:16px!important}
.hp-margin-left{margin-left:16px!important}.hp-margin-right{margin-right:16px!important}
.hp-padding-small{padding:4px 8px!important}.hp-padding{padding:8px 16px!important}.hp-padding-large{padding:12px 24px!important}
.hp-padding-16{padding-top:16px!important;padding-bottom:16px!important}.hp-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.hp-padding-32{padding-top:32px!important;padding-bottom:32px!important}.hp-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.hp-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.hp-left{float:left!important}.hp-right{float:right!important}
.hp-button:hover{color:#000!important;background-color:#ccc!important}
.hp-transparent,.hp-hover-none:hover{background-color:transparent!important}
.hp-hover-none:hover{box-shadow:none!important}
/* Colors */
.hp-amber,.hp-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.hp-aqua,.hp-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.hp-blue,.hp-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.hp-light-blue,.hp-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.hp-brown,.hp-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.hp-cyan,.hp-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.hp-blue-grey,.hp-hover-blue-grey:hover,.hp-blue-gray,.hp-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.hp-green,.hp-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.hp-light-green,.hp-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.hp-indigo,.hp-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.hp-khaki,.hp-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.hp-lime,.hp-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.hp-orange,.hp-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.hp-deep-orange,.hp-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.hp-pink,.hp-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.hp-purple,.hp-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.hp-deep-purple,.hp-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.hp-red,.hp-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.hp-sand,.hp-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.hp-teal,.hp-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.hp-yellow,.hp-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.hp-white,.hp-hover-white:hover{color:#000!important;background-color:#fff!important}
.hp-black,.hp-hover-black:hover{color:#fff!important;background-color:#000!important}
.hp-grey,.hp-hover-grey:hover,.hp-gray,.hp-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.hp-light-grey,.hp-hover-light-grey:hover,.hp-light-gray,.hp-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.hp-dark-grey,.hp-hover-dark-grey:hover,.hp-dark-gray,.hp-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.hp-pale-red,.hp-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.hp-pale-green,.hp-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.hp-pale-yellow,.hp-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.hp-pale-blue,.hp-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.hp-text-amber,.hp-hover-text-amber:hover{color:#ffc107!important}
.hp-text-aqua,.hp-hover-text-aqua:hover{color:#00ffff!important}
.hp-text-blue,.hp-hover-text-blue:hover{color:#2196F3!important}
.hp-text-light-blue,.hp-hover-text-light-blue:hover{color:#87CEEB!important}
.hp-text-brown,.hp-hover-text-brown:hover{color:#795548!important}
.hp-text-cyan,.hp-hover-text-cyan:hover{color:#00bcd4!important}
.hp-text-blue-grey,.hp-hover-text-blue-grey:hover,.hp-text-blue-gray,.hp-hover-text-blue-gray:hover{color:#607d8b!important}
.hp-text-green,.hp-hover-text-green:hover{color:#4CAF50!important}
.hp-text-light-green,.hp-hover-text-light-green:hover{color:#8bc34a!important}
.hp-text-indigo,.hp-hover-text-indigo:hover{color:#3f51b5!important}
.hp-text-khaki,.hp-hover-text-khaki:hover{color:#b4aa50!important}
.hp-text-lime,.hp-hover-text-lime:hover{color:#cddc39!important}
.hp-text-orange,.hp-hover-text-orange:hover{color:#ff9800!important}
.hp-text-deep-orange,.hp-hover-text-deep-orange:hover{color:#ff5722!important}
.hp-text-pink,.hp-hover-text-pink:hover{color:#e91e63!important}
.hp-text-purple,.hp-hover-text-purple:hover{color:#9c27b0!important}
.hp-text-deep-purple,.hp-hover-text-deep-purple:hover{color:#673ab7!important}
.hp-text-red,.hp-hover-text-red:hover{color:#f44336!important}
.hp-text-sand,.hp-hover-text-sand:hover{color:#fdf5e6!important}
.hp-text-teal,.hp-hover-text-teal:hover{color:#009688!important}
.hp-text-yellow,.hp-hover-text-yellow:hover{color:#d2be0e!important}
.hp-text-white,.hp-hover-text-white:hover{color:#fff!important}
.hp-text-black,.hp-hover-text-black:hover{color:#000!important}
.hp-text-grey,.hp-hover-text-grey:hover,.hp-text-gray,.hp-hover-text-gray:hover{color:#757575!important}
.hp-text-light-grey,.hp-hover-text-light-grey:hover,.hp-text-light-gray,.hp-hover-text-light-gray:hover{color:#f1f1f1!important}
.hp-text-dark-grey,.hp-hover-text-dark-grey:hover,.hp-text-dark-gray,.hp-hover-text-dark-gray:hover{color:#3a3a3a!important}
.hp-border-amber,.hp-hover-border-amber:hover{border-color:#ffc107!important}
.hp-border-aqua,.hp-hover-border-aqua:hover{border-color:#00ffff!important}
.hp-border-blue,.hp-hover-border-blue:hover{border-color:#2196F3!important}
.hp-border-light-blue,.hp-hover-border-light-blue:hover{border-color:#87CEEB!important}
.hp-border-brown,.hp-hover-border-brown:hover{border-color:#795548!important}
.hp-border-cyan,.hp-hover-border-cyan:hover{border-color:#00bcd4!important}
.hp-border-blue-grey,.hp-hover-border-blue-grey:hover,.hp-border-blue-gray,.hp-hover-border-blue-gray:hover{border-color:#607d8b!important}
.hp-border-green,.hp-hover-border-green:hover{border-color:#4CAF50!important}
.hp-border-light-green,.hp-hover-border-light-green:hover{border-color:#8bc34a!important}
.hp-border-indigo,.hp-hover-border-indigo:hover{border-color:#3f51b5!important}
.hp-border-khaki,.hp-hover-border-khaki:hover{border-color:#f0e68c!important}
.hp-border-lime,.hp-hover-border-lime:hover{border-color:#cddc39!important}
.hp-border-orange,.hp-hover-border-orange:hover{border-color:#ff9800!important}
.hp-border-deep-orange,.hp-hover-border-deep-orange:hover{border-color:#ff5722!important}
.hp-border-pink,.hp-hover-border-pink:hover{border-color:#e91e63!important}
.hp-border-purple,.hp-hover-border-purple:hover{border-color:#9c27b0!important}
.hp-border-deep-purple,.hp-hover-border-deep-purple:hover{border-color:#673ab7!important}
.hp-border-red,.hp-hover-border-red:hover{border-color:#f44336!important}
.hp-border-sand,.hp-hover-border-sand:hover{border-color:#fdf5e6!important}
.hp-border-teal,.hp-hover-border-teal:hover{border-color:#009688!important}
.hp-border-yellow,.hp-hover-border-yellow:hover{border-color:#ffeb3b!important}
.hp-border-white,.hp-hover-border-white:hover{border-color:#fff!important}
.hp-border-black,.hp-hover-border-black:hover{border-color:#000!important}
.hp-border-grey,.hp-hover-border-grey:hover,.hp-border-gray,.hp-hover-border-gray:hover{border-color:#9e9e9e!important}
.hp-border-light-grey,.hp-hover-border-light-grey:hover,.hp-border-light-gray,.hp-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.hp-border-dark-grey,.hp-hover-border-dark-grey:hover,.hp-border-dark-gray,.hp-hover-border-dark-gray:hover{border-color:#616161!important}
.hp-border-pale-red,.hp-hover-border-pale-red:hover{border-color:#ffe7e7!important}.hp-border-pale-green,.hp-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.hp-border-pale-yellow,.hp-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.hp-border-pale-blue,.hp-hover-border-pale-blue:hover{border-color:#e7ffff!important}